.post {
/*	overflow-wrap: normal; 
	hyphens: none;*/
	word-wrap: normal;
	overflow-wrap: normal;
    -webkit-hyphens: none;
    -moz-hyphens:    none;
    -ms-hyphens:     none;
    hyphens:         none;
}